CLERK_SECRET=your_clerk_secret_here
HOSPITAL_ADMIN_PASS=your_admin_password_here
STAFF_PASSWORD=staff123
#MONGODB_URI=mongodb://localhost:27017/medifeedback
#PORT=5000
NLP_SERVICE_URL=http://localhost:5001
